<h2><%= @trick.name %></h2>
Description: <%= @trick.description %><br>
Difficulty Rating: <%= @trick.difficulty_rating %><br>

<% if trainer_logged_in? %>
    <%= add_trick_to_course(@course, @trick) if @course %><br>
    <%= link_to 'Edit Trick', edit_trick_path(@trick) %>
<% end %>