<h2>Edit Your Dog's Info</h2>

<% if @dog.errors.any? %>
    <ul>
    <% @dog.errors.full_messages.each do |error| %>
        <li><%= error %><br></li>
    <% end %>
    </ul>
<% end %>

<% if @dog.avatar.attached? %>
  <%=image_tag @dog.avatar.variant(resize_to_limit: [150, 150]) %><br>
<% end %>

<%= form_for @dog do |f| %>
    <%= f.label :Picture %>
    <%= f.file_field :avatar, accept: "image/jpeg,image/png"%><br>
    <%= render 'form' %>
    <%= submit_tag "Update Dog" %>
<% end %>