<h2><%= @dog.name %></h2>

<% if @dog.avatar.attached? %>
  <%=image_tag @dog.avatar.variant(resize_to_limit: [150, 150]) %><br>
<% end %>

Breed: <%= @dog.breed.capitalize %><br>
Age: <%= @dog.age %> years old<br>
Up to date on Shots: <%= @dog.shots ? "Yes" : "No" %><br>
Date of last shots on record: <%= @dog.date_of_shots %><br>
Owner: <%= @dog.user.name %><br>

<%= link_to "Edit #{@dog.name}'s information", edit_dog_path(@dog) %><br>
<%= button_to "Remove Dog", [@user, @dog], :method => :delete %>

<h3>Enrolled Courses </h3>
<% if @dog.courses.count > 0 %>
  <ol>
    <% @dog.courses.each do |course| %>
        <li><%= link_to course.name, dog_training_session_path(@dog, course.training_session(@dog)) %>; <%= course.training_session(@dog).start_date %> <%= button_to "Unenroll", course.training_session(@dog).training_session_dog(@dog) , method: :delete %></li>
    <% end %>
</ol>
<% end %>


<%= link_to "Enroll in a new course", courses_path %>