<h2><%= @dog.name %></h2>

Breed: <%= @dog.breed.capitalize %><br>
Age: <%= @dog.age %> years old<br>
Up to date on Shots: <%= @dog.shots ? "Yes" : "No" %><br>
Date of last shots on record: <%= @dog.date_of_shots %><br>
Owner: <%= @dog.user.name %><br>

<% @dog.courses.each do |course| %>
    <%= course.name %>
<% end %><br>

<%= link_to "Edit #{@dog.name}'s information", edit_dog_path(@dog) %><br>
<%= button_to "Remove Dog", [@user, @dog], :method => :delete %>

[Add link to add courses]