<h2>Edit <%= @user.name %>'s Information</h2>

<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |error| %>
        <li><%= error %><br></li>
    <% end %>
    </ul>
<% end %>

<%= form_tag user_path(@user), method: 'put' do  %>
    <%= render 'form' %>
    <%= submit_tag 'Update Your Info' %>
<% end %>