<div class="left-side">
    <h2><%= @user.username %>!</h2>
    <p>Name: <%= @user.name %></p><br>
    <p>Phone Number: <%= @user.display_phone_number %></p><br>
    <p>Email: <%= @user.email %></p><br>
    <%= link_to "Edit Your Info", edit_user_path %>
</div>

<div class="right-side">
    <h2>You have <%= @user.dogs.count %> <%= @user.dogs.count == 1 ? "Dog" : "Dogs" %>.</h2>

    <%= dog_link(@user) %>
</div>
    


