<div class="welcome">
    <h1 class="center-align welcome">Welcome to Top Dog Academy!!!</h1>
</div>

<div class="dogs">
    <img src="/images/caesar-crop.jpeg" alt="Caesar" class="dog-pic">
    <img src="/images/casper-crop.jpeg" alt="Casper Graduation" class="dog-pic">
    <img src="/images/nala.jpeg" alt="Nala" class="dog-pic">
    <img src="/images/levi.jpeg" alt="Levi" class="dog-pic">
</div>

<% if @error %>
    <ul>
    <% @error.each do |name, error| %>
        <li><%= error %><br></li>
    <% end %>
    </ul>
<% end %>

<div class="center-align session">
    <div class="column">
        <h2 class="center-align header">Login</h2>
        <div class="login-links">
            <div class="credential">
                <%= link_to "Log In with Credentials", login_path, class: "login" %>
            </div>
            <div class="Oauth ">
                <%= link_to image_tag("/images/github-logo.png", border: 0, :class => "logo") + " Log In with GitHub", '/auth/github', class: "login github" %>
            </div>
        </div>
    </div>

    <div class="column">
        <h2 class="center-align header">Signup</h2>
        <div class="signin-links">
            <div class="create-link">
                <%= link_to "Create New Owner", new_user_path, class: "signin" %>
                </div>
                <div class="create-link">
                <%= link_to "Create New Trainer", new_trainer_path, class: "signin" %>
            </div>
        </div>
    </div>
</div>

<img class="grass" src="https://f0.pngfuel.com/png/164/824/green-field-illustration-png-clip-art.png" alt="">