<h2>Class: <%= @training_session.course.name %>, Starting on <%= @training_session.start_date %></h2>
<h3>Location: <%= @training_session.location %></h3>
<h3>Trainer: <%= link_to @training_session.trainer.name, trainer_path(@training_session.trainer) %></h3>

<h3>All dogs currently enrolled</h3>
<% if @training_session.dogs.any? %>
    <ol>
    <% @training_session.dogs.each do |dog| %>
        <li><%= dog.name %> - Owner: <%= dog.user.name %></li>
    <% end %>
    </ol>
<% else %>
    <p>No dogs are currently enrolled.</p><br>
<% end %>

<% if trainer_logged_in? %>
    <%= link_to 'Edit this Training Session', edit_training_session_path(@training_session) if @training_session.is_current_trainers?(current_user)%>
<% else %>
    <%= link_to "Enroll a dog", training_session_add_dog_path(@training_session) %>
<% end %>

