<h2>Add a New Course</h2>

<%= form_with(model: @course) do |f| %>
    Name: <%= f.text_field :name %><br>
    Length: <%= f.text_field :length %> weeks<br>
    Cost: $<%= f.text_field :cost %><br>
    <%= f.submit %>
<% end %>