<h2><%= @course.name %></h2>

Duration: <%= @course.length%> weeks<br>
Cost: $<%= @course.cost %><br>

<h3>Dogs Enrolled in Course</h3>
<% if @course.dogs.count == 0 %>
  <p>No dogs are enrolled in this course</p>
<% else %>
    <ul>
    <% @course.dogs.each do |dog| %>
        <li><%= dog.name %></li>
    <% end %>
    </ul>
<% end %>

<h3>Training Sessions</h3>
<% if @course.training_sessions.count != 0 %>
    <ol>
    <% @course.training_sessions.each do |training_session| %>
        <li><%= link_to training_session.link_label, edit_training_session_path(training_session) %> <%= button_to "Delete Training Session", training_session, :method => :delete %></li>
    <% end %>
    </ol>
<% else %>
    <%= link_to 'Create a Training Session', new_course_training_session_path(@course) %>
<% end %>
