<h2><%= @course.name %></h2>

<% if @course.errors.any? %>
    <% @course.errors.full_messages.each do |error| %>
        <%= error %>
    <% end %>
<% end %>

Duration: <%= @course.length%> weeks<br>
Cost: $<%= @course.cost %><br>

<% if session[:trainer_id] %>
    <%= link_to 'Edit this course', edit_course_path(@course) %>
<% end %>


<h3>Tricks Taught in this Course</h3>

<ul>
<% @course.tricks.each do |trick| %>
    <li><%= link_to trick.name, trick_path(trick) %> <%= button_to "Remove trick from Course", trick.trick_course(@course) , method: :delete if session[:trainer_id] %></li>
<% end %>
</ul>

<% if session[:trainer_id] %>
    <%= link_to 'Add Trick to Course', course_tricks_path(@course) %>
<% end %>

<h3>Dogs Enrolled in Course</h3>
<% if @course.dogs.count == 0 %>
  <p>No dogs are enrolled in this course</p>
<% else %>
    <ul>
    <% @course.dogs.each do |dog| %>
        <li><%= dog.name %></li>
    <% end %>
    </ul>
<% end %>

<h3>Training Sessions</h3>
<% if @course.training_sessions.count != 0 %>
    <% if session[:trainer_id] %>
        <ol>
        <% @course.training_sessions.each do |training_session| %>
            <li><%= link_to training_session.link_label, training_session.link_label == "Add Training Session Start Date and Location." ? edit_training_session_path(training_session) : training_session_path(training_session) %> <%= training_session.dogs.count %> enrolled <%= button_to "Delete Training Session", training_session, :method => :delete %></li>
        <% end %>
        </ol>
        <%= link_to 'Create A New Training Session', new_course_training_session_path(@course) %>
    <% else %>
        <ol>
        <% @course.training_sessions.each do |training_session| %>
            <li><%= training_session.training_session_dog(@dog) ? training_session.link_label : (link_to training_session.link_label, training_session_path(training_session))  %></li>
        <% end %>
        </ol>
    <% end %>
<% else %>
    <% if session[:trainer_id] %>
           <%= link_to 'Create a Training Session', new_course_training_session_path(@course) %>
    <% end %>
<% end %>
