<h2><%= @course.name %></h2>

Duration: <%= @course.length%> weeks<br>
Cost: $<%= @course.cost %><br>

<h3>Dogs Enrolled in Course</h3>
<% if @course.dogs.count == 0 %>
  <p>No dogs are enrolled in this course</p>
<% else %>
    <% @course.dogs.each do |dog| %>
        <%= dog.name %>
    <% end %>
<% end %>

<h3>Training Sessions</h3>
<ol>
    <% @course.training_sessions.each do |training_session| %>
        <li><%= link_to training_session.link_label, edit_training_session_path(training_session) %></li>
    <% end %>
</ol>