<h2>New Trainer</h2>
<%= form_with(model: @trainer) do |f| %>
    Username: <%= f.text_field :username %><br>
    <%= render 'form' %>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <%= f.submit %>
<% end %>