<h2> Welcome <%= @trainer.username %>!</h2>

Name: <%= @trainer.name %><br>
Phone Number: <%= @trainer.display_phone_number %><br>
Email: <%= @trainer.email %><br>
Certification: <%= @trainer.certification %><br>

<%= link_to 'Edit Your Info', edit_trainer_path(@trainer) %>

<% if session[:trainer_id] %>
  

    <h4>Courses you teach</h4>
    <% if @trainer.courses.count == 0%>
        <%= link_to "Add Your First Course", new_course_path %>
    <% else %>
        <ul>
        <% @trainer.courses.uniq.each do |course| %>
            <li><%= link_to course.name, course_path(course) %></li>
        <% end %>
        </ul>
        <%= link_to "Add a Course", courses_path %>
    <% end %>

<% else %>

    <h4>Courses Offered</h4>
    <ul>
    <% @trainer.courses.each do |course| %>
        <li><%= link_to course.name, course_training_sessions_path(course) %></li>
    <% end %>
    </ul>

<% end %>