<h2> Welcome <%= @trainer.username %>!</h2>

Name: <%= @trainer.name %><br>
Phone Number: <%= @trainer.phone_number %><br>
Email: <%= @trainer.email %><br>
Certification: <%= @trainer.certification %><br>

<h4>Courses you teach</h4>
<% if @trainer.courses.count == 0%>
    <%= link_to "Add Your First Course", new_course_path %>
<% else %>
    <ul>
    <% @trainer.courses.each do |course| %>
        <li><%= link_to course.name, course_path(course) %></li>
        <ul>
            <% course.training_sessions.each do |training_session| %>
                <li><%= training_session.starts_at %></li>
            <% end %>
        </ul>
    <% end %>
    </ul>
    <%= link_to "Add a Course", new_course_path %>
<% end %>