<% if logged_in? %>
    <header>
        <div class="primary_header">
            <h1 class="title"> TOP DOG ACADEMY </h1>
        </div>
        <nav class="secondary_header" id="menu">
            <% if trainer_logged_in? %>
                <ul class="trainer-nav">
                    <li><%= link_to "Home", root_path%></li>
                    <li><%= link_to 'Trainers', trainers_path %></li>
                    <li><%= link_to "Courses", courses_path %></li>
                    <li><%= link_to "Tricks", tricks_path %></li>
                    <li><%= link_to 'Logout', logout_path %></li>
                </ul>
            <% else %>
                <ul class="owner-nav">
                    <li><%= link_to "Home", root_path%></li>
                    <li><%= link_to 'Dogs', user_dogs_path(current_user) unless trainer_logged_in? %></li>
                    <li><%= link_to 'Trainers', trainers_path %></li>
                    <li><%= link_to "Courses", courses_path %></li>
                    <li><%= link_to "Tricks", tricks_path %></li>
                    <li><%= link_to 'Logout', logout_path %></li>
                </ul>
            <% end %>
        </nav>
    </header>
<% end %>